.project{
    width: 100%;
    height: 100vh;
    display: flex;
    border: 5px solid white;

    .left{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .right{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .right:hover, .left:hover{
      background-color: white;
      color: black;
      cursor: pointer;
      transition: all 0.5s ease;

      span{
        transform: scale(2);

      }

    }

  }